table, th, td {
    border: 1px solid black;
    
   
  
  }
.nomargin{
  padding-left: 0%;
  padding-right: 0%;
}
button{
    padding: 10px 10px;
}
td{
  text-align: center;
 
  color: black;
}
.bg_flow{
  background-color: black;
 

}
.bg_psuedo{
  background-color: black;
  width: 50vw;
}
h1,div,ul,li{
    text-align: center;
    background-color: white;
    color: black;
    word-wrap: break-word;
}
p{
  text-align: left;
  background-color: white;
}
.clear{
  background-color: transparent;
}
h2{
    font-size:larger ;
    text-align: center
}
body{
    /*background-color:#2e2b2b;
    color:white;*/
    
    background-image: url("bg.png");
    padding-left: 20%;
    padding-right: 20%;     
}

.fig_box{
  background-color: transparent;
  color:white;
  word-wrap:normal;
  overflow-wrap:normal ;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }

.row::after {
    content: "";
    clear: both;
    display: table;
    margin:0;
    text-align: left;
    
    
}
.image-box {
    position: relative;
    margin:0;
    text-align: left;
}

.image-text-box{
    position: absolute;
    margin:0;
    text-align: left;
  
   
    
}
.fig3 {
    margin:0;
    text-align: left;
    top:80%;
    left:85%;
    word-wrap:normal;
    overflow-wrap:normal ;
}

.fig4 {
    margin:0;
    text-align: left;
    top:95%;
    left:80%;
    word-wrap:normal;
    overflow-wrap:normal ;
  
}
.fig2 {
    margin:0;
    text-align: left;
    top:80%;
    left:80%;
    word-wrap:normal;
    overflow-wrap:normal ;
}
a{
    color:blue;
}
ul{
    display: inline-block;
    text-align: left
}
.nocenter,.result{
 text-align: left;
}
.table0{
  background-color: white;
  color: black;

}
.table1 td,tr{
 color:white;
}

th{
  color:black;
}
*{
    box-sizing: border-box;
  }
  
  /* Create a two-column layout */
  .column1 {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row1::after {
    content: "";
    clear: both;
    display: table;
  }

.whiteb{
    border: 1px solid white;
}
.ref{
  width: 58%;
  height: 100%;
  margin: auto;
  
  background-position-x: center; 
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  word-wrap: break-word;
}
h1{
  width: 50%;
  height: 100%;
  margin: auto;
  
  background-position-x: center; 
}

        .container {
          max-width: 100%;
          overflow: hidden;
          text-align: center; 
      }

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* Centers the image horizontally */
      }

.nav{
  list-style-type:none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  z-index: 1000;
  }
.ns{
  float:left;
  }
      
.ns a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
      }
      
.nav a:hover:not(.active){
  background-color: #333;
      }
.n{
  background-color: black;
}

li{
  text-align: left;
}
.sub-list {
  
  list-style-type: none;
}

