table, th, td {
    border: 1px solid black;
   
  
  }

button{
    padding: 10px 10px;
}

p,h1,td,div,ul,li{
    text-align: center;
}
h2{
    font-size:larger ;
    text-align: center
}
body{
    background-color:black;
    color:white;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }

.row::after {
    content: "";
    clear: both;
    display: table;
    margin:0;
    text-align: left;
    
}
.image-box {
    position: relative;
    margin:0;
    text-align: left;
}

.image-text-box{
    position: absolute;
    margin:0;
    text-align: left;
  
   
   color: white;
}
.fig2 {
    margin:0;
    text-align: left;
    top:20%;
    left:40%
}
.fig3 {
    margin:0;
    text-align: left;
    top:70%;
    left:40%
}
.fig4 {
    margin:0;
    text-align: left;
    top:20%;
    left:40%
}
a{
    color:white;
}
ul{
    display: inline-block;
    text-align: left
}
.nocenter,.result{
 text-align: left;
}


* {
    box-sizing: border-box;
  }
  
  /* Create a two-column layout */
  .column1 {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row1::after {
    content: "";
    clear: both;
    display: table;
  }

.whiteb{
    border: 1px solid white;
}