table, th, td {
    border: 1px solid black;
    
   
  
  }

button{
    padding: 10px 10px;
}
td{
  text-align: center;
 
  color: white;
}
.bg_flow{
  background-color: black;
  width: 70vw;
 
}
p,h1,div,ul,li{
    text-align: center;
    background-color: white;
    color: black;
}
.clear{
  background-color: transparent;
}
h2{
    font-size:larger ;
    text-align: center
}
body{
    /*background-color:#2e2b2b;
    color:white;*/
    
    background-image: url("bg.png");
    
     
}

.fig_box{
  background-color: transparent;
  color:white;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }

.row::after {
    content: "";
    clear: both;
    display: table;
    margin:0;
    text-align: left;
    
    
}
.image-box {
    position: relative;
    margin:0;
    text-align: left;
}

.image-text-box{
    position: absolute;
    margin:0;
    text-align: left;
  
   
    
}
.fig3 {
    margin:0;
    text-align: left;
    top:70%;
    left:45%
}

.fig4 {
    margin:0;
    text-align: left;
    top:95%;
    left:80%
  
}
.fig2 {
    margin:0;
    text-align: left;
    top:20%;
    left:40%
}
a{
    color:blue;
}
ul{
    display: inline-block;
    text-align: left
}
.nocenter,.result{
 text-align: left;
}

.table0{
  background-color: white;
  color:black;
}
*{
    box-sizing: border-box;
  }
  
  /* Create a two-column layout */
  .column1 {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row1::after {
    content: "";
    clear: both;
    display: table;
  }

.whiteb{
    border: 1px solid white;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
input[type=number], select {
    width: 7%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .for {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    color: black;
    
  }
