table, th, td {
    border: 1px solid black;
  
  }
  td{
      text-align: center;
  }

p,h1{
    text-align: center;
}
body{
    background-color:black;
    color:white;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }